 
 .root {
 
 	-fx-background: rgb(28, 28, 28);
 	
 }
 
 #cxn-state {
 	
 	-fx-background: rgb(28, 28, 28);
 	
 }
 
 #err-msg {
 	
 	-fx-text-fill: rgb(217, 217, 217);
 	-fx-font-size: 24pt;
 	
 }